# Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

# Questions to consider

+ How many more promoters are there than detractors across our 2017 data?
+ Which track boasts the best promoter-to-detractor ratio?
+ Does the student experience get better the longer that they are enrolled at the Summer Academy?
+ Does student satisfaction vary by location?
+ What are things we could find here that could “help the business”?
+ What sorts of information does this dataset contain?
+ What kinds of questions might we be able to answer with this data?
+ What kinds of questions can’t we answer with this data?
+ What sorts of information might be actionable?
+ How can you present your findings in a way that non-technical employees can understand and use to make decisions?

# Data

In [8]:
d = pd.read_csv('Student-Feedback-2017.csv')
data = pd.DataFrame(d)
data

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right
1,36,Los Angeles,Apps,Week 1,4,A little too fast
2,117,San Francisco,Games,Week 1,4,Way too slow
3,253,NaN,NaN,Week 2,4,A little too fast
4,350,New York City,"Apps, Explorer",Week 1,4,Just right
...,...,...,...,...,...,...
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [14]:
print(data.columns)

Index(['ID', 'Location', 'Track', 'Week', 'Rating (Num)', 'Schedule Pacing'], dtype='object')

## Possible Steps

+ create new columns called 'NPS' holding promoter, passive, detractor

## Drop NA values in Rating

In [39]:
print('No NA values in rating')
print('Amount before drop: ', len(data['Rating (Num)'].dropna()))
print('Amount after drop: ', len(data['Rating (Num)']))

No NA values in rating
Amount before drop:  1453
Amount after drop:  1453

## NPS classifiers

In [48]:
promoter_data = data[(data['Rating (Num)'] == '9') | (data['Rating (Num)'] == '10')]
passive_data = data[data['Rating (Num)'] == '7']
detractor_data = data[data['Rating (Num)'] == '1']