In [1]:
import pandas as pd

adf = pd.DataFrame(data={'x1': ['A', 'B', 'C'], 'x2' : [1, 2, 3]})

bdf = pd.DataFrame(data={'x1': ['A', 'B', 'D'], 'x3' : ['T', 'F', 'T']})

# Merge
* .merge(df_1, df_2, how='left/right/inner/outer')
* left - parameter 1 is base
* right - parameter 2 is base
* inner (DEFAULT) - combination of both with NaN values
* outer - union

In [4]:
pd.merge(adf, bdf, how='left')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [5]:
pd.merge(adf, bdf, how='right')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [8]:
pd.merge(adf, bdf, how='inner')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [7]:
pd.merge(adf, bdf, how='outer')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

# Append (Concat)

In [11]:
pd.concat([adf, bdf], sort=True)

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T